<!doctype html>
<html>
  <head>
    <%= partial 'layouts/head_info' %>
  </head>
  <body>
    <%= partial 'layouts/header' %>

    <main class="ui main text container">
      <h1 class="mb40"><%= current_article.title %></h1>
      <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">シェア</a></div>
      <%= yield %>

      <h2>バックナンバー</h2>

      <%= partial 'views/problem' %>
    </main>
    <%= partial 'layouts/footer' %>
  </body>
</html>
